'scopeName': 'source.zasm'
'name': 'zasm'
'fileTypes': [
  'zs'
  'zm'
  'zasm'
  'zmacro'
]
'patterns': [
    {
        'match': '^(\\*|\\.\\*).*$'
        'name': 'comment'
    }
    {
        'match': '^(\\S*)\\s+'
        'name': 'string'
    }
    {
        'match': '(IF|ENDIF|ELSE|DO|ENDO)'
        'name': 'keyword.control'
    }
    {
        'match': '\\S+'
        'name': 'keyword.control'
    }
    {
        'begin': '[[:blank:]]+'
        'end': '(?<!^.{71}\\S)\\n'
        'patterns': [
            {
                'match': '^(-)?\\s+'
                'captures':
                    '0':
                        'name': 'comment'
            }
            {
                'match': '[ldLD]\''
            }
            {
                'match': ','
                'name': 'comment'
            }
            {
                'include': '#string'
            }
            {
                'match': '\\s+.*'
                'name': 'comment'
            }
        ]
    }
]
'repository':
  'string':
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.zasm'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.zasm'
    'name': 'string.quoted.single.zasm'
