scopeName: 'source.zasm'
name: 'zasm'
fileTypes: [
  'zs'
  'zm'
  'zasm'
  'zmacro'
]
#TODO: find proper names
patterns: [
    {
        match: '^(?:\\*|\\.\\*).*$'
        name: 'comment.line.character.zasm'
    }
    {
        match: '^(\\S+)\\s+(?=@RTNENT\\b)'
        captures:
            0:
                name: 'entity.name.function.zasm'
    }
    {
        match: '^(\\S*)\\s+'
        captures:
            0:
                name: 'entity.name.tag.zasm'
    }
    {
        match: '\\b(?:IF|ELSE|ENDIF|DO|LEAVE|ITERATE|LEAVEIF|ITERATIF|ENDO|CASE|ENDCASE|WHEN|GOTO|GOLABEL)\\b'
        name: 'keyword.control.zasm'
    }
    {
        match: '\\b(?:@PGMENT|@RTNENT|@EXIT|@GO|CALL|LINK)\\b'
        name: 'keyword.control.zasm'
    }
    {
        match: '@\\S+'
        name: 'support.function.macro.zasm'
    }
    {
        match: '\\b(?:USING|PUSH|POP|DROP)\\b'
        name: 'support.function.control.zasm'
    }
    {
        match: '\\S+'
        name: 'support.function.machine.zasm'
    }
    {
        begin: '[[:blank:]]+'
        end: '(?<!^.{71}\\S)\\n'
        patterns: [
            {
                match: '^(-)?\\s+'
                captures:
                    0:
                        name: 'comment.line.character.zasm'
            }
            {
                match: '[kKldLD]\'[\\w&@#$]+'
                name: 'constant.language.attribute.zasm'
            }
            {
                match: ','
                name: 'punctuation'
            }
            {
                include: '#string'
            }
            {
                match: '\\s+.*'
                name: 'comment.line.character.zasm'
            }
        ]
    }
]
repository:
  string:
    begin: '\''
    beginCaptures:
      0:
        name: 'punctuation.definition.string.begin.zasm'
    end: '\''
    endCaptures:
      0:
        name: 'punctuation.definition.string.end.zasm'
    name: 'string.quoted.single.zasm'
